.shape {
    background-color: red;
    border-radius: 50%;
    height: 300px;
    margin: calc(50vh - 150px) auto;
    position: relative;
    width: 300px;
}

.shape::before {
    background-color: #D9D9D9;
    content: '';
    height: 206px;
    left: 50%;
    position: absolute;
    top: 50%;
    transform: translate(-50%, -50%);
    width: 215px;
    z-index: 50;
}

.shape::after {
    content: '';
    left: 50%;
    position: absolute;
    top: 50%;
    transform: translate(-50%, -50%);
    height: 100px;
    width: 100px;
    clip-path: polygon(50% 0%, 61% 35%, 98% 35%, 68% 57%, 79% 91%, 50% 70%, 21% 91%, 32% 57%, 2% 35%, 39% 35%);
    background-color: red;
    z-index: 51;
}